@font-face{
    font-family: 'Bison', sans-serif;
    src: url('../fonts/Bison-Bold.woff2') format('woff2'),
         url('../fonts/Bison-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}